html * {
    /* background-color: #E6E6FA;*/
}
body {
    /* background-color: #E6E6FA;*/
    /* background-color: #FAF0E6; */
    background-color: #F0F0F0;
}
code {
    font-family: monospace;
}
h1 {
    font-family: sans-serif;
}
h2 {
    font-family: sans-serif;
}
h3 {
    font-family: sans-serif;
}
ul {
    font-family: sans-serif;
}
li {
    font-family: sans-serif;
}
.title  { text-align: center;
          margin-bottom: .2em; 
	  font-family: sans-serif;
	}
.subtitle { text-align: center;
            font-size: medium;
            font-weight: bold;
            margin-top:0; 
	    font-family: sans-serif;
	  }
.todo   { font-family: monospace; color: red; }
.done   { font-family: monospace; color: green; }
.priority { font-family: monospace; color: orange; }
.tag    { background-color: #eee; font-family: monospace;
          padding: 2px; font-size: 80%; font-weight: normal; }
.timestamp { color: #bebebe; }
.timestamp-kwd { color: #5f9ea0; }
.org-right  { margin-left: auto; margin-right: 0px;  text-align: right; }
.org-left   { margin-left: 0px;  margin-right: auto; text-align: left; }
.org-center { margin-left: auto; margin-right: auto; text-align: center; }
.underline { text-decoration: underline; }
#postamble p, #preamble p { font-size: 90%; margin: .2em; }
p.verse { margin-left: 3%; }
p {
    font-family: Arial, Helvetica, sans-serif;
}
pre {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    padding: 8pt;
    font-family: monospace;
    overflow: auto;
    margin: 1.2em;
}
pre.example {
    background-color: #DDDDDD;
}
pre.src {
    position: relative;
    overflow: visible;
    padding-top: 1.2em;
}
pre.src:before {
    display: none;
    position: absolute;
    background-color: white;
    top: -10px;
    right: 10px;
    padding: 3px;
    border: 1px solid black;
}
pre.src:hover:before { display: inline;}
pre.src-sh:before    { content: 'sh'; }
pre.src-bash:before  { content: 'sh'; }
pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
pre.src-R:before     { content: 'R'; }
pre.src-perl:before  { content: 'Perl'; }
pre.src-java:before  { content: 'Java'; }
pre.src-sql:before   { content: 'SQL'; }

table { border-collapse:collapse; font-family: sans-serif; }
caption.t-above { caption-side: top; }
caption.t-bottom { caption-side: bottom; }
td, th { vertical-align:top;  }
th.org-right  { text-align: center;  }
th.org-left   { text-align: center;   }
th.org-center { text-align: center; }
td.org-right  { text-align: right;  }
td.org-left   { text-align: left;   }
td.org-center { text-align: center; }
dt { font-weight: bold; }
.footpara { display: inline; }
.footdef  { margin-bottom: 1em; }
.figure { padding: 1em; }
.figure p { text-align: center; }
.inlinetask {
    padding: 10px;
    border: 2px solid gray;
    margin: 10px;
    background: #ffffcc;
}
#org-div-home-and-up
{ text-align: right; font-size: 70%; white-space: nowrap; }
textarea { overflow-x: auto; }
.linenr { font-size: smaller }
.code-highlighted { background-color: #ffff00; }
.org-info-js_info-navigation { border-style: none; }
#org-info-js_console-label
{ font-size: 10px; font-weight: bold; white-space: nowrap; }
.org-info-js_search-highlight
{ background-color: #ffff00; color: #000000; font-weight: bold; }

/* styles for solveme */
.solveme { border: 2px dotted red; }
.solveme.correct { border: 2px solid blue; }
/* styles for hidden solutions */
.solution {
    height: 2em;
    overflow-y: hidden;
    padding: 0.5em;
}
.solution.open {
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.solution button {
    height: 1.5em;
    margin-bottom: 0.5em;
}
.solution pre.sourceCode {
    border-color: green;
}
